@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: auto;
    max-width: 500px;
    min-height: 80px;
}

header > h1 {
    color: #380B61;
    text-align: center;
}

header > p {
    color: #380B61;
    text-align: center;
}

fieldset {
    border: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F0F8FF;
    font-size: 1em;
    color: #59429d;
}

main {
    margin: auto;
    max-width: 500px;
    min-height: 200px;
}

input, select, textarea {
    border-radius: 5px;
}

div {
    margin-bottom: 1em;
}

div label {
    margin-bottom: 0.2em;
    color: #59429d;
}

div#esc {
    display: block;
}

div input[type="text"], div input[type="email"], div select, div textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.200);
    display: block;
}

div select option {
    padding-right: 1em;
}

div input:focus, div select:focus, div textarea:focus {
    background-color: #E0E0F8 ;
}

input[type="submit"] {
    font-size: 1.2em;
    background: #59429d;
    border: 0px;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.200);
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.500);
}

input[type="submit"]:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.200);
    text-shadow: none;
}

textarea {
    width: 400px;
}

div#esc{
    display: inline-block;
}

